.hh1{
    color: grey;
    text-align: center;

}

.pp1{
    text-align: center;
    color: grey;
}

.img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: grey;
    
}

.img11{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    max-width: 550px;
    

}
