.header {
  background-image: url(banner.jpg);
  padding: 15px;
  width: 100%;
  height: 200px;
}

.welcome {
  color: white;
  text-align: center;
  font-family: courier;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  padding: 5px 20px;
  font-size: 15px;
}

.push {
  margin-left: auto;
  color: white;
  text-decoration: none;
}

.a {
  color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  padding: 50px;
}

.paragraf1 {
  width: 200px;
  height: 200px;
  border-right: 2px solid dodgerblue;
  text-align: left;
  color: dodgerblue;
  background-color: white;
  padding: 1px 25px;
}

.paragraf2 {
  width: 200px;
  height: 200px;
  border-right: 2px solid dodgerblue;
  text-align: left;
  color: dodgerblue;
  background-color: white;
  padding: 1px 25px;
}

.paragraf3 {
  width: 200px;
  height: 200px;
  text-align: left;
  color: dodgerblue;
  background-color: white;
  padding: 1px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  background-color: dodgerblue;
  color: white;
  position: relative;
  bottom: 0px;
  border: 1px blue;
}

.par {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
}

.p1 {
  color: white;
  text-align: center;
}

.ipsum {
  background-color: dodgerblue;
  padding: 70px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box1 {
  border: 1px solid dodgerblue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -ms-flex-line-pack: middle;
      align-content: middle;
}

.chenar1 {
  border: 1px solid white;
  margin: 10px;
  width: 130px;
  height: 190px;
  padding: 15px;
}

.h6 {
  position: absolute;
  text-align: center;
  bottom: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hh1 {
  color: grey;
  text-align: center;
}

.pp1 {
  text-align: center;
  color: grey;
}

.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px;
  color: grey;
}

.img11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  max-width: 400px;
}

.ppp {
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: center;
  padding: 1% 15%;
}

.i {
  margin-left: auto;
}

#hr {
  width: 70%;
}
/*# sourceMappingURL=index.css.map */